<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifelinemadproject.lifelinehospital">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PatDocListUI"></activity>
        <activity android:name=".DoctorList" />
        <activity android:name=".RecAppointments" />
        <activity android:name=".NurAppointmentList" />
        <activity android:name=".DocAssignNurse" />
        <activity android:name=".NurseList" />
        <activity android:name=".DocAppointmentList" />
        <activity android:name=".ReceptionistProfile" />
        <activity android:name=".NurseProfile" />
        <activity android:name=".DoctorProfile" />
        <activity android:name=".MakeAppointmentUI" />
        <activity android:name=".PatientProfile" />
        <activity android:name=".NurseMainUI" />
        <activity android:name=".DoctorMainUI" />
        <activity android:name=".ReceptionistUI" />
        <activity android:name=".ReceptionistRegistrationUI" />
        <activity android:name=".NurseRegistrationUI" />
        <activity android:name=".DoctorRegistrationUI" />
        <activity android:name=".PatientRegistrationUI"></activity>
        <activity android:name=".RegisterNowUI" />
        <activity android:name=".PatientMainUI" />
        <activity android:name=".LifeLineLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>